@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500,700);

/***Main CSS ***/
body{
  margin:0;
  padding:0;
  font-family: 'Roboto', sans-serif;
}

header{
  margin:0;
  padding:0;
  height:150px;
  background-color:#673AB7;
  color:white;
  text-align: center;
}

header h1 {
  margin:0;
  padding:10px;
  padding-top:1.5em;
  font-weight: 500;
}

header h3 {
  margin:0;
  font-weight: 300;
}

button{
  margin:20px;
  padding:10px;
  font-size:1em;
  background-color:#3F51B5;
  color:white;
  font-weight: 500;
}

#Roll{
  margin-top: 20px;
  display:flex;
  justify-content: center;
}

#animationWrap{
  text-align: center;
}

#animations{
  display:flex;
  justify-content: center;
}


/*********The Cube CSS***********/
#box1 {
  margin-top:100px;
}

#box1 input, #box1 label
{
  display: none;
}


.scene, {/*Sets the "playground" for the cube*/
  /*margin:auto; /*Centered in Div*/*/
  /*width:150px;
  perspective:250px;*/
}

.cube{
  margin-top:80px;
  margin:auto;
  width:150px;
  height:150px;
  /*position:relative;*/
  transform-style: preserve-3d;
}

.cube-face {
  width: 150px;
  height: 150px;
  position: absolute;
}

.front-face{
  background:red;
  transform:translate3d(0,0,75px);
  /*border-radius:20px;*/
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
  background: url("images/D_DieFace1.jpg");
  background-size: contain;
}

.back-face{
  background:yellow;
  transform:rotateY(180deg) translate3d(0,0,75px);
    /*border-radius:20px;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background: url("images/D_DieFace2.jpg");
    background-size: contain;
}

.left-face{
  background: orange;
  transform: rotateY(-90deg) translate3d(0, 0, 75px);
    /*border-radius:20px;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background: url("images/D_DieFace3.jpg");
    background-size: contain;
}

.right-face{
  background:lime;
  transform: rotateY(90deg) translate3d(0, 0, 75px);
    /*border-radius:20px;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background: url("images/D_DieFace4.jpg");
    background-size: contain;
}

.top-face {
  background:blue;
  transform: rotateX(90deg) translate3d(0, 0, 75px);
    /*border-radius:20px;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background: url("images/D_DieFace5.jpg");
    background-size: contain;
}

.bottom-face {
  background:magenta;
  transform: rotateX(-90deg) translate3d(0, 0, 75px);
    /*border-radius:20px;*/
    box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.5);
    background: url("images/D_DieFace6.jpg");
    background-size: contain;
}







/***** NOT IN USE REFER TO diceA.js*****/

/**** Radio Button Interactions ****/
#radio-front:checked ~ .scene .cube {
  transform:rotateX(0deg) rotateY(0deg);
  transition:2s;
}

#radio-back:checked ~ .scene .cube {
  transform: rotateY(180deg);
  transition:2s;
}

#radio-left:checked ~ .scene .cube {
  transform: rotateY(90deg);
  transition:2s;
}
#radio-right:checked ~ .scene .cube {
  transform: rotateY(-90deg);
  transition:2s;
}
#radio-top:checked ~ .scene .cube {
  transform: rotateX(-90deg);
  transition:2s;
}
#radio-bottom:checked ~ .scene .cube {
  transform: rotateX(90deg);
  transition:2s;
}


/*CSS CUBE ROTATIONS*/
/*.rfront{
  transform:rotateX(0deg) rotateY(0deg);
  transition:2s;
}
.rback{
  transform: rotateY(180deg);
  transition:2s;
}
.rleft{
  transform: rotateY(90deg);
  transition:2s;
}
.rright{
  transform: rotateY(-90deg);
  transition:2s;
}
.rtop{
  transform: rotateX(-90deg);
  transition:2s;
}
.rbottom{
  transform: rotateX(90deg);
  transition:2s;
}*/

.sceneCSS{
  transform-style:preserve-3d;
  animation-name: boxRoll;
  animation-duration:2s;
}

.reset{
  transform-style:;
  animation-name:;
  animation-duration:;
}


@keyframes boxRoll
{
from {}
10% {transform: translateX(75px) rotateY(180deg);}
20% {transform: translateX(-75px) rotateY(90deg);}
30% {transform: rotateY(-90deg);}
40% {transform: translateY(75px) rotateX(-90deg);}
50% {transform: translateY(-75px) rotateX(90deg);}
to{transform: rotateX(0deg) rotateY(0deg);}
}

/*.scene2 .cube2{
  transform-style:preserve-3d;
  animation-name: rotateBox2;
  animation-duration:10s;
  animation-iteration-count: infinite;
}*/
